<div class="flex align-items-center justify-content-center min-h-screen surface-ground">

  <p-card header="{{ 'AUTH.REGISTER_TITLE' | translate }}" class="shadow-4 w-full md:w-30rem p-4">
    @let err = error();
    @if (err) {
      <div class="p-error mb-4 text-center text-red-500 font-semibold">
        <i class="pi pi-exclamation-triangle mr-2"></i>
        {{ 'ERROR.'.concat(err.code) | translate: err.params }}
      </div>
    }

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4">
      <div class="flex flex-column gap-2">
        <label for="firstName" class="font-semibold text-color">
          {{ 'COMMON.FIELDS.NAME' | translate }}*
        </label>
        <input
          pInputText
          id="firstName"
          type="text"
          formControlName="firstName"
          placeholder="John"
          class="w-full"
        />
        @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
          @if (registerForm.get('firstName')?.errors?.['required']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.NAME_REQUIRED' | translate }}
            </small>
          } @else if (registerForm.get('firstName')?.errors?.['minlength']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.INVALID_NAME' | translate }}
            </small>
          }
        }
      </div>

      <div class="flex flex-column gap-2">
        <label for="lastName" class="font-semibold text-color">
          {{ 'COMMON.FIELDS.LASTNAME' | translate }}*
        </label>
        <input
          pInputText
          id="lastName"
          type="text"
          formControlName="lastName"
          placeholder="Doe"
          class="w-full"
        />
        @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
          @if (registerForm.get('lastName')?.errors?.['required']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.LASTNAME_REQUIRED' | translate }}
            </small>
          } @else if (registerForm.get('lastName')?.errors?.['minlength']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.INVALID_LASTNAME' | translate }}
            </small>
          }
        }
      </div>

      <div class="flex flex-column gap-2">
        <label for="email" class="font-semibold text-color">
          {{ 'COMMON.FIELDS.EMAIL' | translate }}*
        </label>
        <input
          pInputText
          id="email"
          type="email"
          formControlName="email"
          placeholder="usuario@uib.es"
          class="w-full"
        />
        @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
          @if (registerForm.get('email')?.errors?.['required']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.EMAIL_REQUIRED' | translate }}
            </small>
          } @else if (registerForm.get('email')?.errors?.['email']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.INVALID_EMAIL' | translate }}
            </small>
          }
        }
      </div>

      <div class="flex flex-column gap-2">
        <label for="password" class="font-semibold text-color">
          {{ 'COMMON.FIELDS.PASSWORD' | translate }}*
        </label>
        <p-password
          id="password"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          class="w-full"
          inputStyleClass="w-full">
        </p-password>
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          @if (registerForm.get('password')?.errors?.['required']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.PASSWORD_REQUIRED' | translate }}
            </small>
          } @else if (registerForm.get('password')?.errors?.['minlength']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.PASSWORD_MINLENGTH' | translate }}
            </small>
          }
        }
      </div>

      <div class="flex flex-column gap-2">
        <label for="confirmPassword" class="font-semibold text-color">
          {{ 'COMMON.FIELDS.CONFIRM_PASSWORD' | translate }}*
        </label>
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          class="w-full"
          inputStyleClass="w-full">
        </p-password>
        @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
          @if (registerForm.get('confirmPassword')?.errors?.['passwordsNotMatching']) {
            <small class="p-error text-sm text-red-500">
              {{ 'ERRORS.VALIDATION.PASSWORDS_NOT_MATCHING' | translate }}
            </small>
          } @else if (registerForm.get('confirmPassword')?.errors?.['required']) {
              <small class="p-error text-sm text-red-500">
                {{ 'ERRORS.VALIDATION.CONFIRM_PASSWORD_REQUIRED' | translate }}
              </small>
          }
        }
      </div>

      <p-button
        label="{{'COMMON.BUTTONS.CREATE_ACCOUNT' | translate}}"
        type="submit"
        [loading]="isLoading()"
        [disabled]="registerForm.invalid"
        styleClass="w-full mt-3">
      </p-button>
    </form>

    <div class="mt-5 text-center text-color-secondary">
      <span>{{ 'AUTH.ALREADY_HAVE_ACCOUNT' | translate }} </span>
      <a routerLink="/login" class="text-primary font-semibold no-underline cursor-pointer hover:underline">
        {{ 'AUTH.LOG_IN_HERE' | translate }}
      </a>
    </div>
  </p-card>
</div>

